<div class="page-header">
  <h3 class="page-title">
    <ul class="round">
    <li>  <span class="page-title-icons  text-white mr-2">
      <i class="mdi mdi-panorama-fisheye"></i>
    </span></li>
    <li> <b>Portfolio</b></li>
   </ul>
  </h3>
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">
        <button class="btn btn-gradient-info btn-fw" type="button" style="border-radius: 20px;">Refer a friend
          <i class="fa fa-user-plus" aria-hidden="true"></i>
        </button>
      </li>
    </ul>
  </nav>
</div>





<div class="row">
  <div class="col-lg-8 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-wrap justify-content-between">
          <div id="visit-sale-chart-legend" class="rounded-legend legend-horizontal text-center">
            <ul>
              <h6>Your Portfolio Value</h6>
              <li class="text-center"style="color:black;font-size:18px"><b>0.00 BTC</b></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <canvas baseChart #visitSaleChart [chartType]="'line'" [datasets]="visitSaleChartData"
              [labels]="visitSaleChartLabels" [options]="visitSaleChartOptions"
              [colors]="visitSaleChartColors"></canvas>
          </div>
          <div class="col-sm-4">
           
            <div id="traffic-chart-legend" class="rounded-legend legend-vertical legend-bottom-left pt-4">
           
              
              <figure class="chart-two animate">
                <svg role="img" xmlns="http://www.w3.org/2000/svg">
                  <title>[title here]</title>
                  <desc>[long description here]</desc>
                  <circle class="circle-background"/>
                  <circle class="circle-foreground"/>
                </svg>
                <figcaption>50% of all males like donuts.</figcaption>
              </figure>
              
           
              <ul class="text-center">
                
                <li>
                  <span class="text-centre cardd"><b>CCRB Mining</b></span>
                </li>
                <li>
                  <span class="cardd"><b>Overall completion</b></span>
                  <span class="float-right"></span>
                </li>
                <br>
                <li class="text-center cardd">Hashes mined : <span>CCRB mined</span></li>
                <li class="text-center cardd" style="color: black;"><b>985k  <span>$2.46</span></b></li>
              </ul>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 text-center ">
    <div class="services">
      <img src="assets/images/icons.png" class="icon1">
      <div class="desc">
        <div class="row">
          <div class="col-sm-12 text-center">
            <div class="row">
              <div class="col-sm-6">
                <div class="coloum">
                  <ul style="float: right;" class="mem">
                  <li class="cardlist">Membership :</li>
                  <li class="cardlist">Trading Amount :</li>
                  <li class="cardlist">Mining Balance :</li>
                  <li class="cardlist">Mining Pending : </li>
                  <li class="cardlist">Total : </li>
                    </ul>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="coloum" >
                  <ul style="float: left;"class="mem2">
                  <li class="cardlist" style="color: #047edf;"><b>Prime Plus</b></li>
                  <li class="cardlist"><b>266 CCRB</b></li>
                  <li class="cardlist"><b>266 CCRB</b></li>
                  <li class="cardlist"><b>266 CCRB</b></li>
                  <li class="cardlist"><b>266 CCRB</b></li>
              

                    </ul>
                </div>
              </div>
            </div>
            <button class="btn btn-gradient-info btn-fw" type="button" style="border-radius: 20px;">Upgrade</button>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="row">
    <div class="col-md-3 stretch-card grid-margin">
      <div class="card card-img-holder text-black">
        <div class="card-body">
          <h5 class="font-weight-normal mb-3">            <img src="assets/images/icons2.png" alt="image" width="15px">
            Cryptocarbon (CCRB)
          </h5>
          <br>
          <h6 class=" text-center">266 CCRB</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 stretch-card grid-margin">
      <div class="card card-img-holder text-black">
        <div class="card-body">
          <h5 class="font-weight-normal mb-3">  <img src="assets/images/icons3.png" alt="image" width="15px"> Cryptocarbon (CCRB)
          </h5>
          <br>
          <h6 class=" text-center">266 CCRB</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 stretch-card grid-margin">
      <div class="card card-img-holder text-black">
        <div class="card-body">
          <h5 class="font-weight-normal mb-3">  <img src="assets/images/icons4.png" alt="image" width="15px"> Cryptocarbon (CCRB)
          </h5>
          <br>
          <h6 class=" text-center">266 CCRB</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3 stretch-card grid-margin">
      <div class="card card-img-holder text-black">
        <div class="card-body">
          <h5 class="font-weight-normal mb-3">  <img src="assets/images/icons2.png" alt="image" width="15px"> Cryptocarbon (CCRB)
          </h5>
          <br>
          <h6 class=" text-center">266 CCRB</h6>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="icon-search-container" data-ic-class="search-trigger">
    <span class="fa fa-arrow-right"></span>
  
 
</div>



